.card-result {
  height: 50vh;
  width: 100%;
  font-size: 10rem;
  color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-size: 3rem;
  color: var(--color-blue);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}