html, body {
    font-size: 10px;
    height: 100%;
}

body {
    background-color: var(--color-primary);
    font-family: 'Fredericka the Great', cursive;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}